<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190000825551-4k2trpkppft8gk5brmpp37tj0np29qr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190000825551-4k2trpkppft8gk5brmpp37tj0np29qr9</string>
	<key>API_KEY</key>
	<string>AIzaSyB4ikNTHi_KV90A-X8Ish3lmN_VWO-0lxI</string>
	<key>GCM_SENDER_ID</key>
	<string>190000825551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-76d71</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-76d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190000825551:ios:25390f01b2be45465263ba</string>
</dict>
</plist>